PORT=3000


# Identifiants Firebase (copiez le JSON complet de votre serviceAccountKey.json)
FIREBASE_CREDENTIALS={"type":"service_account","project_id":"..."}



# Clés VAPID — à générer avec : npx web-push generate-vapid-keys
VAPID_EMAIL=mailto:ton@email.com
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
